.contact-area {
    .contact-title {
        .contact-top {
            .top-content {
                p {
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #fff;
                    margin-left: 15px;
                }
            }
        }
        h2 {
            font-size: 46px;
            color: #fff;
            margin-top: 20px;
            margin-bottom: 60px;
        }
    }
    .container-form {
        input {
            height: 70px;
            width: 100%;
            padding: 0 20px;
            background-color: #458e85;
            color: #fff;
            border: 0;

            &::-moz-placeholder {
                color: #fff;
                font-size: $body-fz;
                opacity: 1;
            }
            
            &::placeholder {
                color: #fff;
                font-size: $body-fz;
                opacity: 1;
            }
        }
        .subject {
            position: relative;
            &::after {
                position: absolute;
                content: "ï„‡";
                font-family: "Font Awesome 5 Pro";
                top: 50%;
                transform: translateY(-50%);
                font-size: 18px;
                color: #fff;
                right: 20px;
            }
            select {
                height: 70px;
                width: 100%;
                padding: 0 20px;
                background-color: #458e85;
                color: #fff;
                border: 0;
                -moz-appearance: none;
                appearance: none;
            }
        }
        textarea {
            width: 100%;
            height: 140px;
            padding: 20px 20px;
            background-color: #458e85;
            color: #fff; 
            border: 0;
            resize: none;
            margin-bottom: 20px;
            &::-moz-placeholder {
                color: #fff;
                font-size: $body-fz;
                opacity: 1;
            }
            
            &::placeholder {
                color: #fff;
                font-size: $body-fz;
                opacity: 1;
            }
        }
    }
    .our-map {
        iframe {
            width: 100%;
            height: 870px;
            margin-top: -180px;
            transform: translateX(15px) !important;
            border-radius: 30px 0 0 30px;
        }
    }
}

// Responsive

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .contact-area {
      background-image: none;
      .contact-title {
        h2 {
            color: #f00;
        }
      }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .contact-area {
        padding-left: 50px;
        padding-right: 50px;
        .our-map {
            iframe {
                margin-top: 60px;
                border-radius: 0 0 0 0;
                height: 600px;
                transform: translateX(0) !important;
            }
        }
    }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .contact-area {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
        .contact-title {
            h2 {
                font-size: 30px;
            }
        }
        .container-form {
            input {
                height: 50px;
                font-size: 12px;
                &::-moz-placeholder {
                    color: #fff;
                    font-size: $body-fz;
                    opacity: 1;
                    font-size: 12px;
                }
                
                &::placeholder {
                    color: #fff;
                    font-size: $body-fz;
                    opacity: 1;
                    font-size: 12px;
                }
            }
            textarea {
                width: 100%;
                height: 100px;
                font-size: 12px;
                &::-moz-placeholder {
                    font-size: 12px;
                }
                
                &::placeholder {
                    font-size: 12px;
                }
            }
            .subject select {
                height: 50px;
                font-size: 12px;
            }
        }
        .our-map {
            iframe {
                margin-top: 30px;
                border-radius: 0 0 0 0;
                height: auto;
                transform: translateX(0px) !important;
            }
        }
    }
    .contact-btn {
        padding: 20px 40px;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .contact-area {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 60px;
        padding-bottom: 60px;
        .our-map {
            iframe {
                margin-top: 60px;
                border-radius: 0 0 0 0;
                height: 400px;
                transform: translateX(0) !important;
            }
        }
    }
}