.feedback-area {
    margin-top: -200px;
    margin-left: 100px;
    margin-right: 100px;

    .feedback-slider {
        margin-bottom: -160px;
        .single-slider {
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 10px 20px 0px rgba(0, 37, 32, 0.08);
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            height: calc(100% - 20px);
            display: flex;
            flex-direction: column;

            .feedback-content {
                padding-top: 50px;
                padding-left: 40px;
                padding-right: 40px;
                position: relative;
                flex-grow: 1;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        display: inline-block;
                        margin-right: 5px;
                        font-size: 20px;
                        color: #ffaf79;
                    }
                }
                p {
                    font-size: 18px;
                    line-height: 32px;
                    font-weight: 400;
                    padding: 30px 0;
                    position: relative;
                    z-index: 2;
                    margin: 0;
                }
                .icon {
                    i {
                        position: absolute;
                        top: 50px;
                        right: 20px;
                        font-size: 100px;
                        color: #eef4f3;
                        z-index: 1;
                    }
                }
            }
            .feedback-profile {
                background-color: #056c5f;
                padding: 20px 40px;
                display: flex;
                align-items: center;

                .client-name {
                    margin-left: 20px;

                    a {
                        font-size: 27px;
                        color: #fff;
                        text-transform: capitalize;
                        display: block;
                        font-family: $header-fonts;
                        font-weight: bold;
                    }
                    p {
                        font-size: 16px;
                        color: #fff;
                        padding: 0;
                    }
                }
            }
        }
    }
}

.feedback-slider {
    .owl-stage {
        display: flex;
    }
    .owl-nav {
        .owl-prev {
            position: absolute;
            left: -60px;
            color: $theme-color !important;
            font-size: 50px !important;
            top: 50%;
            transform: translateY(-50%);
            @include transition(0.3s);

            &:hover {
                color: $theme-color-2 !important;
            }

            &::before {
                position: absolute;
                content: "";
                width: 45px;
                height: 45px;
                border: 2px solid $theme-color;
                border-radius: 50%;
                top: 47%;
                transform: translateY(-50%);
                left: -17px;
                @include transition(0.3s);
            }
            &:hover:before {
                border-color: $theme-color-2;
            }
        }
        .owl-next {
            position: absolute;
            right: -60px;
            color: $theme-color !important;
            font-size: 50px !important;
            top: 50%;
            transform: translateY(-50%);
            @include transition(0.3s);

            &::before {
                position: absolute;
                content: "";
                width: 45px;
                height: 45px;
                border: 2px solid $theme-color;
                border-radius: 50%;
                top: 47%;
                transform: translateY(-50%);
                right: -17px;
                @include transition(0.3s);
            }
            &:hover:before {
                border-color: $theme-color-2;
            }
            &:hover {
                color: $theme-color-2 !important;
            }
        }
    }
}

// Responsive

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 

}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .feedback-area {
        margin-top: 60px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 60px;

        .feedback-title {
            margin-bottom: 80px;
            h2 {
                font-size: 30px;
            }
        }
        .feedback-slider {
            margin-bottom: 60px;
        }
    }
    .feedback-slider {
        .owl-nav {
            .owl-next {
                right: 50px;
                top: -20px;
            }
            .owl-prev {
                left: 50px;
                top: -20px;
            }
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    
    .feedback-area {
        margin-top: 60px;
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 60px;
    }
    .feedback-slider {
        .owl-nav {
            .owl-next {
                right: 50px;
                top: -30px;
            }
            .owl-prev {
                left: 400px;
                top: -30px;
            }
        }
    }
}