.footer {
    .footer-logo {
        p {
            font-size: 16px;
            color: #fff;
            margin: 0;
            padding: 30px 0;
        }
        h2 {
            font-size: 26px;
            color: #fff;
            padding: 0;
            margin-bottom: 20px;
            text-transform: capitalize;
            line-height: 1;
        }
        a {
            display: inline-block;
            font-size: 16px;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            text-align: center;
            line-height: 40px;
            background-color: $theme-color;
            color: #fff;
            margin-right: 10px;

            &:hover {
                background-color: $theme-color-2;
            }
        }
    }
    .footer-services {
        h4 {
            color: #fff;
            font-size: 30px;
            line-height: 1;
            margin-bottom: 30px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                a {
                    display: inline-block;
                    font-size: 16px;
                    color: $pragraph-color;
                    margin-bottom: 10px;
                    position: relative;
                    padding-left: 20px;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 10px;
                        height: 2px;
                        background-color: $pragraph-color;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        @include transition(.3s);
                    }
                    &:hover:before {
                        width: 20px;
                    }
                    &:hover {
                        color: $theme-color-2;
                        padding-left: 40px;
                    }
                }
            }
        }
    }
    .footer-contact {
        h4 {
            color: #fff;
            font-size: 30px;
            line-height: 1;
            margin-bottom: 30px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 20px;
                display: block;
                font-size: 16px;
                color: $pragraph-color;
                span {
                    display: block;
                    margin-bottom: 5px;
                    color: $theme-color-2;
                }
            }
        }
        input {
            width: 100%;
            height: 70px;
            border-radius: 40px 5px;
            border: 0;
            padding: 20px;
            background-color: #fff;
            margin-bottom: 20px;
        }
        .footer-button {
            border: 0;

            i {
                margin-right: 6px;
            }
        }
    }
    
}
.copy-right {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #555;
    padding: 20px 0;

    p {
        padding: 0;
        margin: 0;
        font-size: 16px;
    }
}


// Responsive

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
    .footer {
        .footer-logo {
            a {
                margin-right: 0px;
            }
        }
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
   .footer {
       padding-bottom: 60px;
       
       .c-footer {
           margin-bottom: 60px;
       }
   }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .footer {
        padding-bottom: 0px;
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;

        .c-footer {
            margin-bottom: 60px;
        }
        .footer-contact {
            input {
                width: 80%;
                height: 60px;
            }
        }
    }
    .copy-right {
        margin-left: 20px;
        margin-right: 20px;

        p {
            font-size: 12px;
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .footer {
        padding-bottom: 60px;
        .c-footer {
            margin-bottom: 60px;
        }
        .footer-logo {
            a {
                margin-right: 0px;
            }
        }
    }
}
