.protfolio-area {

    .single-protfolio {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        // padding-right: 10px;
        // padding-left: 10px;

        .protfolio-image {
            overflow: hidden;
            img {
                max-width: 100%;
                width: 100%;
                @include transition(0.3s);
            }
            &::before {
                position: absolute;
                content: "";
                width: 90%;
                height: 70%;
                background-color: $theme-color;
                bottom: 30%;
                left: 50%;
                transform: translate(-50%, 50%);
                opacity: 0;
                visibility: hidden;
                @include transition(0.3s);
            }

            &:hover:before {
                height: 82%;
                opacity: 0.95;
                bottom: 50%;
                visibility: visible;
                z-index: 9;
            }
            &:hover > .protfolio-icon {
                opacity: 1;
                visibility: visible;
                
            }
            &:hover > .protfolio-icon a {
                top: 50%;
            }
            &:hover img {
                transform: scale(1.1);
            }
            &:hover > .protfolio-content {
                bottom: 80px;
                opacity: 1;
                visibility: visible;
                z-index: 99;
            }
            .protfolio-icon {
                opacity: 0;
                visibility: hidden;
                @include transition(0.3s);
                a {
                    position: absolute;
                    display: inline-block;
                    content: "";
                    font-size: 35px;
                    color: $theme-color;
                    top: 70%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 70px;
                    height: 70px;
                    background-color: #fff;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 70px;
                    @include transition(0.3s);
                    z-index: 99;
                    

                    &:hover {
                        background-color: $theme-color-2;
                        color: #fff;
                    }
                }
            }
            .protfolio-content {
                position: absolute;
                bottom: 20px;
                left: 60px;
                @include transition(0.3s);
                opacity: 0;
                visibility: hidden;
                z-index: 999;

                p {
                    font-size: 16px;
                    color: #fff;
                    text-transform: capitalize;
                    display: block;
                    margin-bottom: 7px;
                }
                h3 {
                    font-size: 30px;
                    color: #fff;
                    margin-bottom: 0;
                    line-height: 1;
                    @include transition(0.3s);
                    &:hover a {
                        color: $theme-color-2;
                    }
                }
            }
        }
       
    }
}

.protfolio-active {
    .owl-item.active.center {
        transform: scale(1.1);
    }
    .owl-nav {
        .owl-prev {
            position: absolute;
            left: 60px;
            color: #fff !important;
            font-size: 50px !important;
            top: 50%;
            transform: translateY(-50%);
            @include transition(0.3s);

            &:hover {
                color: $theme-color-2 !important;
            }

            &::before {
                position: absolute;
                content: "";
                width: 45px;
                height: 45px;
                border: 2px solid #fff;
                border-radius: 50%;
                top: 47%;
                transform: translateY(-50%);
                left: -17px;
                @include transition(0.3s);
            }
            &:hover:before {
                border-color: $theme-color-2;
            }
        }
        .owl-next {
            position: absolute;
            right: 60px;
            color: #fff !important;
            font-size: 50px !important;
            top: 50%;
            transform: translateY(-50%);
            @include transition(0.3s);

            &::before {
                position: absolute;
                content: "";
                width: 45px;
                height: 45px;
                border: 2px solid #fff;
                border-radius: 50%;
                top: 47%;
                transform: translateY(-50%);
                right: -17px;
                @include transition(0.3s);
            }
            &:hover:before {
                border-color: $theme-color-2;
            }
            &:hover {
                color: $theme-color-2 !important;
            }
        }
    }
}




// Responsive

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
   
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .protfolio-area {
        padding-bottom: 60px;
    }
    .protfolio-active {
        .owl-item.active.center {
            transform: scale(1.1);
        }
        .owl-nav {
            .owl-prev {
               top: -50px;
               left: 20px;
                color: $theme-color !important;
                &::before {
                    border-color: $theme-color;
                }
            }
            .owl-next {
                top: -50px;
                right: 20px;
                color: $theme-color !important;
                &::before {
                    border-color: $theme-color;
                }
            }
        }
    }
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .protfolio-area {
        padding-bottom: 60px;
    }
}




// Brand Area Css Code Here
.brand-items img {
	width: 186px !important;
	height: 70px;
}

// Responsive

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 

}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .brand-area {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .brand-items img {
        width: 100% !important;
        height: 100%;
    }
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  
}