.services-area {
    .services-box {
        position: relative;
        margin-bottom: 30px;
        overflow: hidden;
        &::before {
            position: absolute;
            content: "";
            bottom: 10px;
            right: -10px;
            width: 100%;
            height: 60%;
            background-color: $theme-color-2;
            opacity: 0;
            z-index: 1;
            @include transition(0.3s);
        }
        &:hover:before{
            opacity: 0.9;
            height: 100%;
            left: 10px;
            bottom: 10px;
        }
        &:hover .service-content{
            opacity: 1;
            visibility: visible;
            top: 50%;
        }
        &:hover .services-bottom-title {
            opacity: 0;
        }
        &:hover .service-img > img {
            transform: scale(1.1);
        }
        .service-img {
            position: relative;
            overflow: hidden;
            img {
                max-width: 100%;
                width: 100%;
            }
            .services-bottom-title {
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                right: 0;
                background-color: $theme-color;
                @include transition(0.3s);

                h3 {
                    color: #fff;
                    font-size: 30px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    padding-left: 27px;
                    margin: 0;
                    line-height: 1;
                }
                i {
                    position: absolute;
                    background: $theme-color-2;
                    width: 70px;
                    height: 100%;
                    top: 0;
                    right: 0;
                    text-align: center;
                    line-height: 70px;
                    font-size: 30px;
                    color: #fff;
                }
            }
        }
        .service-content {
            position: absolute;
            top: 60%;
            right: 0;
            transform: translateY(-50%);
            padding: 30px 40px;
            @include transition(0.3s);
            z-index: 2;
            opacity: 0;
            visibility: hidden;

            h3 {
                font-size: 27px;
                color: #fff;
                line-height: 1;
                @include transition(0.3s);
                &:hover a{
                    color: $theme-color;
                }
            }
            p {
                color: #ffff;
            }
        }
    }
}

