.welcome-area {
    margin-top: -240px;

    .welcome-thumb {
        position: relative;

        .welcome-wrapper {
            position: absolute;
            bottom: 0;
            left: 0;

            .wrapper-img {
                position: relative;
            }
            .wrapper-content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                h3 {
                    font-size: 30px;
                    color: $theme-color;
                    margin: 0;
                    font-weight: bold;
                    font-family: inherit;
                }
            }
        }
    }
    .welcome-content {
        // margin-left: 50px;
        .welcome-top {
            margin-bottom: 30px;
            .top-icon {
                margin-right: 20px;
            }
            .top-content {
                p {
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: $theme-color;
                }
            }
        }
        h2 {
            font-size: 50px;
            color: $theme-color;
            margin: 0;
            padding-bottom: 70px;
        }
        p {
            font-size: 16px;
            color: #848b8a;
            padding-bottom: 20px;
        }
        .welcome-list {
            .single-list {
                margin-bottom: 10px;
                p {
                    font-size: 27px;
                    color: $theme-color;
                    position: relative;
                    padding-left: 30px;
                    i {
                        width: 20px;
                        height: 20px;
                        background-color: $theme-color-2;
                        text-align: center;
                        line-height: 20px;
                        color: #fff;
                        font-size: 12px;
                        border-radius: 50%;
                        margin-right: 10px;
                        position: absolute;
                        left: 0;
                        top: 10px;
                    }
                }
            }
            .ceo-detailes {
                .detailes {
                    margin-left: 15px;
                    a {
                        font-size: 27px;
                        display: block;
                        text-transform: capitalize;
                        font-weight: 400;
                        color: $theme-color;
                    }
                    span {
                        font-size: 16px;
                        color: $pragraph-color;
                    }
                }
            }
        }
        
    }
}
.theme-button {
    background-color: $theme-color;
    color: #fff;
    &:hover {
        color: #fff;
    }
}



// Responsive

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .welcome-area {
        .welcome-thumb {
            margin-bottom: 50px;
        }
        .welcome-content {
            h2 {
                padding-bottom: 30px;
            }
            .welcome-top {
                margin-bottom: 10px;
            }
        }
    }
  
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .welcome-area {
        padding-left: 20px;
        padding-right: 20px;
        .welcome-thumb {
            margin-bottom: 50px;
        }
        .welcome-content {
            h2 {
                padding-bottom: 30px;
            }
            .welcome-top {
                margin-bottom: 10px;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .welcome-area {
        padding-left: 50px;
        padding-right: 50px;
        .welcome-thumb {
            margin-bottom: 50px;
        }
        .welcome-content {
            h2 {
                padding-bottom: 30px;
            }
            .welcome-top {
                margin-bottom: 10px;
            }
        }
    }
  
}
